<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gzhu.edu.cn.exam.modules.course.mapper.TextbookMapper">
    <resultMap id="baseResultMap" type="gzhu.edu.cn.exam.modules.course.entity.Textbook">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="press" property="press"/>
        <result column="isbn" property="isbn"/>
        <result column="grade" property="grade"/>
        <association property="studyTeam" column="study_team"/>
        <association property="subjectId" column="subject_id"/>
        <association property="subject" column="subject_id" select="findSubjectById"/>
    </resultMap>
    <select id="findSubjectById" resultType="gzhu.edu.cn.exam.modules.knowledge.entity.Subject">
        select s.* from knowledge_subject s where s.id = #{id}
    </select>
</mapper>
